@import '~bootstrap/dist/css/bootstrap.css';

:root {
  --tile-color-lighter: #efeeee;
  --tile-color-darker: #cecece;
  --gray: #909597;
  --heading-font: 'Muli', sans-serif;
  --heading-font-color: #e71212;
  --gap: 10px;
  --font-weight: 500;
  --font-size-basic: 20px;
  --font-size-h: 28px;
  --font-color: #113448;
  --radius: 3px;
  --shadow: 3px 4px 7px 0 #B6B6B6;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  font-family:  'Lucida Sans Unicode', arial;
}

body {
  background-color: #fff;
  font-weight: 300;
  font-size: var(--font-size-basic);
  color: var(--font-color);
  max-width: 1000px;
  margin: auto;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px 10px;
  justify-content: center
}

.tile {
  height: 40px;
  width: 40px;
  border: 1px solid var(--tile-color-darker);
  background-color: var(--tile-color-lighter);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover,
.tile:focus {
  cursor: pointer;
  opacity: 1;
}

.plus {
  height: 36px;
  width: 36px;
  padding: 6px;
}

.plus:hover,
.tile:focus .plus {
  transition: 0.3s;
  transform: rotate(90deg);
}

.plusImage {
  height: 38px;
  width: 38px;
}