@import '~bootstrap/dist/css/bootstrap.css';


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family:  'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color:  #4c4c4b;
}

a:hover {
  text-decoration: none;
  color: #ff2f2f;
}

a.back-to-top {
  position: fixed;
  z-index: 999;
  right: 0.75rem;
  bottom: 0.75rem;
  display: none;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 1.875rem;
  background: #14bf98 url("up-arrow.png") no-repeat center 47%;
  background-size: 1.125rem 1.125rem;
  text-indent: -9999px;
}

a:hover.back-to-top {
  background-color: #13aa87;
}

body {
  background-color: #fff;
  color: #4c4c4b;
  margin: auto;
  font-size: 18px;
  line-height: 1.5;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px 10% 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}

.btn {
  border: 0;
  border-radius: 0.25rem;
  background-color: #14bf98;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 9px 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  float: right;
}

.btn-secondary {
  background: #909597;
}

.btn:hover {
  cursor: pointer;
  background-color: #ff2f2f;
  -webkit-box-shadow: 3px 4px 7px 0 #B6B6B6;
          box-shadow: 3px 4px 7px 0 #B6B6B6;
}

.btn:focus {
  cursor: pointer;
  background-color: #ff2f2f;
  -webkit-box-shadow: 3px 4px 7px 0 #B6B6B6;
          box-shadow: 3px 4px 7px 0 #B6B6B6;
}

.btn:active {
  background-color: #e71212!important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none!important;
}

.close span {
  font-size: 30px;
}

.close span:hover{
  color: #e71212;
}

.form-control {
  border-radius: 0.25rem;
  text-align: left;
}

.custom-file-label {
  border-radius: 0.25rem;
  text-align: left;
}

.footer {
  background-color: #113448;
  text-align: center;
  color: white;
}

.footer p {
  font-size: 12px;
}

h3 {
  font: 700 30px "Montserrat", sans-serif;
  text-align: left;
}

iframe {
  max-width: 325px!important;
  min-width: 235px!important;
  height: 450px;
}

label {
  float:  left;
}

.modal-dialog {
  max-width: 700px;
}

.modal-body {
  padding: 15px;
  text-align: center;
}

.modal-body img {
  max-width: 100%;
  max-height: 550px;
  min-width: 210px;
  min-height: 210px;
}

.modal-header .close:focus {
  outline: none!important;
}

.mx-3 {
  margin: 0!important;
}

.navbar {
  background-color: #113448!important;
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar-brand.logo-image img {
  width: 200px;
  margin-bottom: -10px;
}

.navbar-nav {
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
      -ms-flex-direction: row!important;
          flex-direction: row!important;
}

.navbar .social-icons {
  display: none;
}

.navbar-nav .nav-link {
    color: white!important;
    padding: 0!important;
    padding-right: 30px!important;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: #14bf98!important;
}

.navbar-dark .navbar-toggler {
  color: #fff!important;
  border: 0.5px solid #ff2f2f!important;
}

p {
  margin: 10px 0;
}

.tile {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: #efeeee;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.tile:hover,
.tile:focus {
  cursor: pointer;
  opacity: 1;
}

.Toastify__toast-container--top-center {
  top: 35%!important;
  margin-left: -220px!important;
}

.Toastify__toast {
  border-radius: 0.25rem!important;
  font-size: 16px;
  opacity: 0.95;
  padding: 8px 15px!important;
  white-space: pre-line;
}

.Toastify__toast-body {
  margin-right: 15px!important;
}

.Toastify__toast-body a {
  color: #14bf98;
}

.Toastify__toast-body p {
  margin: 0;
}

.Toastify__toast--info {
  background: #113448!important;
}

.Toastify__toast--success {
  background: #14bf98!important;
  width: 400px!important;
}

.Toastify__toast--error {
  background: #e71212!important;
  width: 400px!important;
  text-align: center;
}

.plus {
  height: 33px;
  width: 33px;
  padding: 6px;
}

.plus:hover,
.tile:focus .plus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.plusImage {
  height: 38px;
  width: 38px;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.plusImage:hover,
.plusImage:focus,
.plusImage:active {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

svg {
  height: 40px;
  margin-top: 10px;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-10{
  height: 30px;
  margin-left: -32px;
}

.ex-basic-2 {
  margin: 90px auto 30px;
  text-align: justify;
}

@media all and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .board,
  .ex-basic-2 {
    margin: 80px 5px 30px;
  }

  h3 {
    font-size: 20px;
  }

  .modal-header,
  .modal-body {
    padding: 15px 10px;
  }

  .modal-body img {
    max-height: 400px;
  }

  .navbar-nav {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
        -ms-flex-direction: column!important;
            flex-direction: column!important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 7px;
  }

  .navbar-nav .nav-link {
    padding: 5px!important;
  }

  .navbar-dark .navbar-toggler:hover,
  .navbar-dark .navbar-toggler:focus {
    border-color: #14bf98!important;
    outline: none;
  }
}

  @media only screen and (max-width: 480px) {
    .Toastify__toast-container {
      width: 100vw!important;
      padding: 12px!important;
      left: -5px!important;
      margin: 0!important;
    }

    .Toastify__toast--success {
      width: 95vw!important;
    }

    .Toastify__toast--error {
      width: 90vw!important;
      margin-left: 5px;
    }
  }