body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
	color: #484a46;
  font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
  text-align: left;
}

body, p {
	color: #4c4c4b; 
	font: 400 1rem/1.5625rem "Open Sans", sans-serif;
}

/* Hover Animation */
.image-container {
	overflow: hidden;
	border-radius: 0.25rem;
}

.image-container img {
	margin: 0;
	border-radius: 0.25rem;
	transition: all 0.3s;
}

/* .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}  */
/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  background-color: #113448;
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
  transition: all 0.2s;
}

.navbar-custom .navbar-brand {
  font-size: 0;
}

.navbar-custom .navbar-brand.logo-image img {
  width: 200px;
  margin-bottom: -10px;
  /*height: 2rem;*/
  -webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-brand.logo-text {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font: 700 2.25rem/1.5rem "Montserrat", sans-serif;
  color: #fff;
  text-decoration: none;
}

.navbar-custom .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.625rem 0.75rem 0.625rem 0.75rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
  color: #14bf98;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
  display: block; /* this makes the dropdown menu stay open while hovering it */
  min-width: auto;
  animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
  outline: 0;
}

.navbar-custom .dropdown-menu {
  margin-top: 0;
  border: none;
  border-radius: 0.25rem;
  background-color: #113448;
}

.navbar-custom .dropdown-item {
  color: #fff;
  text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
  background-color: #113448;
}

.navbar-custom .dropdown-item .item-text {
  font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
  color: #14bf98;
}

.navbar-custom .dropdown-items-divide-hr {
  width: 100%;
  height: 1px;
  margin: 0.75rem auto 0.75rem auto;
  border: none;
  background-color: #b5bcc4;
  opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
  display: none;
}

.navbar-custom .navbar-toggler {
  border: none;
  color: #fff;
  font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
  display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
  display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
  display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
  display: inline-block;
  margin-right: 0.125rem;
}

/*************************/
/*     18. Copyright     */
/*************************/
.copyright {
  padding-top: 1rem;
  /* padding-bottom: 0.5rem; */
  background-color: #113448;
  text-align: center;
}

.copyright p,
.copyright a {
  color: #dfe5ec;
  text-decoration: none;
}

/**********************************/
/*     19. Back To Top Button     */
/**********************************/
a.back-to-top {
  position: fixed;
  z-index: 999;
  right: 0.75rem;
  bottom: 0.75rem;
  display: none;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 1.875rem;
  background: #14bf98 url("up-arrow.png") no-repeat center 47%;
  background-size: 1.125rem 1.125rem;
  text-indent: -9999px;
}

a:hover.back-to-top {
  background-color: #13aa87;
}

/**********************/
/*     17. Footer     */
/**********************/
.footer {
  /* padding-top: 5rem; */
  background-color: #113448;
}

.footer .text-container {
  margin-bottom: 2.25rem;
}

.footer h4 {
  margin-bottom: 0.75rem;
  color: #fff;
}

.footer p,
.footer ul {
  font-size: 0.875rem;
  line-height: 1.375rem;
}